.my-component-enter {
  transform: translateX(100%);
}

.my-component-enter-active {
  transform: translateX(0);
  transition: transform 500ms ease-in-out;
}

.my-component-exit {
  transform: translateX(0);
}

.my-component-exit-active {
  transform: translateX(-100%);
  transition: transform 500ms ease-in-out;
}