.slide-next-enter {
  transform: translateX(110%);
}

.slide-next-enter-active {
  transform: translateX(0);
  transition: transform 0.25s ease-in-out;
}

.slide-next-exit {
  transform: translateX(0);
  transition: transform 0.25s linear;
}

.slide-next-exit-active {
  transform: translateX(-110%);
  transition: transform 0.25s ease-in-out;
}

.slide-prev-enter {
  transform: translateX(-110%);
}

.slide-prev-enter-active {
  transform: translateX(0);
  transition: transform 0.25s ease-in-out;
}

.slide-prev-exit {
  transform: translateX(0);
  transition: transform 0.25s linear;
}

.slide-prev-exit-active {
  transform: translateX(110%);
  transition: transform 0.25s ease-in-out;
}
